__pycache__

marcserraortega-computer-vision-center
wandb

DatasetDCM
datasets.unify
predicts.coco

CLIP&SigLIP/ComicsCLIP
CLIP&SigLIP/LinearProbe/out
CLIP&SigLIP/LinearProbe/predictions

EncoderClassifier/out
EncoderClassifier/data
EncoderClassifier/checkpoints
EncoderClassifier/models/best_model.pt

Statistics/data
Statistics/models
